{{ define "main" }}
  {{ partial "header.html" . }}

  <div class="container-fluid py-md-4 block-content">
    <main class="row">
      <div class="col p-4">
        {{ .Content }}
      </div>
    </main>

    {{ if eq "pages/about.md" .File.Path }}
    <aside class="row mt-3">
      <div class="col-4 p-4 pt-2">
        <img src="https://gravatar.com/avatar/04ce4aa9f079c590959ba7c47276549f?s=316&d=robohash&r=x" class="img-fluid rounded" alt="Tobias Sjösten">
      </div>
      <div class="col p-4 pt-2">
        <h2>Hi, I'm Tobias!</h2>
        <p>I'm a software engineer who have been playing MUDs since 1997 and think it's undeniably the superior form of gaming.</p>
      </div>
    </aside>
    {{ end }}
  </div>
{{ end }}
